* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #636161;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container a:hover {
    text-decoration: underline yellow 1.5px;
}

header {
    background: #444444;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #111111;
    padding: 2rem 0;
    text-align: center;
}

.hero .intro {
    display: inline-block;
    text-align: left;
    max-width: 500px;
}

.hero .intro h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #fff;
}

.hero .intro span {
    color: #ffcc00;
}

.hero .hero-image {
    width: 50%;
}
.hero .container .intro button {
    font-size: 1rem;
    color: #000000;
    background-color: yellow;
    padding: 10px;
}

#about {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 50%;
     margin-right: 20px;
}

.about-text h1{
    font-size: 38px;
    color: #333;
    text-align: left;
}


.about-text p {
    font-size: 16px;
    color: #666;
    text-align: left;
}
.work {
    background: #fff;
    padding: 2rem 0;
    text-align: center;
}

.work h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.work p {
    font-size: 1rem;
    color: #777;
}

.work-filter ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}

.work-filter ul li {
    display: inline;
    margin: 0 10px;
}

.work-filter ul li a {
    text-decoration: none;
    color: #333;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.gallery-item {
    flex: 1 0 30%;
    margin-bottom: 1rem;
}

.gallery-item img {
    width: 102%;
    height: 109%;
    padding: 8px;
    cursor: pointer;
}
.gallery-item img :hover {
     background-color: yellow;
     
}

.work button {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 60px;
}